* {margin:0; padding:0;}

html {
	font: 90%/1.3 arial,sans-serif;
	padding:2em;
	background:#fafafa;
    margin-left: 50px;
}
form {
	background:#fff;
	padding:2em;
	border:1px solid #eee;
    margin:1em;
    width:30em;
}

label {
	float:left;
	width:10em;
	text-align:left;
	margin-right:1em;
}

fieldset {
    padding:1em;
	border:1px solid #dedede; /* Default fieldset borders vary cross browser, so make them the same */
    width:auto;
  /* width: 10%;*/
}

legend span {
	width:10em;
	text-align:right;
}
input {
	padding:0.15em;
	width:10em;
	border:1px solid #ddd;
	background:#fafafa;
	font:bold 0.95em arial, sans-serif;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
}
input:hover, input:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
} 

fieldset div {
	overflow:hidden; /* Contain the floating elements */
	display:inline-block; /* Give layout in ie to contain float */
}
fieldset div {display:block;} /* Reset element back to block leaving layout in ie */
label {
	float:left; /* Take out of flow so the input starts at the same height */
	width:5em; /* Set a width so the inputs line up */
}


table { 
  border-spacing:10;
  cell-spacing: 10;
}

tr:nth-child(odd)
{ background-color:#eee; }

tr:nth-child(even)
{ background-color:#fff; }
