/*  Some style for the tabulator
**
** NOTE: Development team - This MUST be edited in the 2005/ajar/ahaw directory
**   and copied into the 2007/tab/ext/chrome/content directory and then checked in.
**
**  Do NOT use physical measures, but font-relative measures.
**  2006-10-21  timbl  cconverted px to em at approx 1em = 12px
** 
*/

body {background-color: white ; font-size: 80%; font-family: sans-serif}

strong { font-size: 120%; color: #333 }

/* Pane icons: */
.paneShown{ -moz-border-radius: 0.5em;
            border-top:         solid #222 1px; 
            border-left:        solid #222 0.1em; border-bottom: solid #eee 0.1em;
            border-right:       solid #eee 0.1em; 
            margin-left:        1em; padding: 3px;
            background-color:   #ffd; }
            
.paneHidden { -moz-border-radius: 0.5em; margin-left: 1em; padding: 3px;  }

div.title {
    background-color: #B8B8B8; 
    border-top: solid 1px #545454;
    border-bottom: solid 1px #545454;
    padding: 0.5em;
}

div.irfac {
    padding: 0.7em;
}

li.irfac_li{ 
    margin-bottom: 10px; 
}
