SSLOptions +OptRenegotiate +StdEnvVars
SSLVerifyClient require
SSLVerifyDepth 2
# Can't use this line for some reason.
#SSLRequire (%{SSL_CLIENT_S_DN_O} == "Massachusetts State Police" && %{SSL_CLIENT_S_DN_CN} == "Mia Analysa")
